html {
    position:relative;
    min-height: 100%;
}
body {
    position:relative;
    min-height: 100%;
  }
* {
    box-sizing: border-box;
}

/*************************************************************/
.div1 {
    background-color: rgb(219, 177, 128);
    color:rgb(255, 255, 255);
    width:50%;
    float:left;
    height:10%;
}
.div2 {
    background-color: rgb(219, 177, 128);
    color:rgb(255, 255, 255);
    width:50%;
    float:right;
    height:10%;
}
.div33 {
    background-color: rgba(56,2,2);
    width:100%;
    height:100px;
    color:white; 
    padding: 10px;
    clear:both;
}
/*************************************************************/
.topnav {
    overflow:hidden;
}
.topnav a {
    float:right;
    color:black;
    text-align:center;
    padding:auto;
    text-decoration:none;
    font-size:17px;
}

.topnav a:hover {
    background-color:#ddd;
    color:black;
}
.div_center a{
    color:white; 
    padding-right:10px;
    text-decoration: none;
    border-right-style:solid;
    border-color:rgba(180, 148, 4, 0.521);
}
.topnav a.active {
    background-color:#2196f3;
    color:white;
}
.topnav input[type=text] {
    float:right;
    border:none;
    margin-right:50px;
    margin-top:30px;
    font-size:17px;
}
/**************************************************/

.div34 {
    background-image:url("Galaxy_Cluster.jpg"); 
    width:100%;
    height:150px;
    color:white; 
    clear:both;
}

.div_center{
    margin-left: 200px;
    margin-right: 200px;
    float:left;
}

.div3 {
    background-color:rgba(56,2,2);
    width:30%;
    height:30px;
    font-size: 25px;
    margin-top: 70px;
}
.div4 {
    background-color:rgba(61, 30, 1, 0.692);
    width:80%;
    height:46px;
    text-align: left;
    margin-top: 4px;
    font-size:40px;
}
/**************************************************/
.div7 {
    background-color: rgb(90, 65, 18);
    margin-top:0;
    height:auto;
    width:80%;
    clear:both;
    font-size:17px;
    color:white;
    text-decoration: none;
}


.div8 {
    background:none;
    float:right;
    width: 50%;
    height:60px;
}
.div9 {
    background: none;
    float:left;
    width:50%;
    color:black;
    font-size:20px;
}

.div10 {
    background: none;
    float:right;
    width:30%;
    font-size:20px;
    color:black;
    margin-right: 20px;
    
}
/*************************************************************/
nav {
    background-color:rgb(124, 85, 1);
}

.a1 {
    color:white; 
    padding-right:10px;
    text-decoration: none;
    border-right-style:solid;
    border-color:rgba(180, 148, 4, 0.521);
}

/*******************Footer******************************************/
footer {
    background-color: rgb(92, 63, 11);
    width:100%;
    height:210px;
    clear:both;
    padding: 20px;
}
.footer_sec{
    background:none;
    float: left;
    width:33%;
    color:white;
    text-align:center;
}
/*************************************************************/
@media (max-width: 600px) {
    nav, article,footer {
      width: 100%;
      height: auto;
    }
  }
  
/*************************************************************/
#mybtn {
    display:contents;
    position:fixed;
    cursor:pointer;
    z-index:99;
}